@import '../../index.scss';

.recipeCard {
  background-color: white;
  margin-bottom: 2rem;
  height: 450px;
  cursor: pointer;
  &:hover {
    outline: 4px solid var(--main-color);
    filter: brightness(0.7);
  }
  &__img {
    object-fit: cover;
    object-position: center center;
    width: 100%;
  }
  &__footer {
    padding: 10px;
  }
}

.footer {
  &__dishTypes {
    display: flex;
    overflow: hidden;
  }
  &__dish_type {
    color: var(--main-color);
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 1.1em;
    margin-right: 1rem;
  }
}
