@import '../../index.scss';

@mixin title {
  text-transform: uppercase;
  font-size: 3.5em !important;
}

.recipesAndMenu {
  background-color: var(--background) !important;
  &__wrapper {
    margin: 4rem 0;
  }
  &__title {
    color: var(--sub-title) !important;
    font-size: 2em !important;
    text-transform: uppercase;
  }
  &__search {
    width: 300px;
    text-align: center;
  }
}

.findRecipe {
  text-align: center;
  &__title {
    @include title;
    color: var(--title-color) !important;
  }
}

.createMenu {
  text-align: center;
  position: relative;
  &__title {
    @include title;
    color: var(--main-color) !important;
  }
  &__info {
    width: 350px;
    font-weight: 500;
    margin: 0;
    color: var(--second-color);
  }
  &__btn {
    cursor: pointer;
    color: var(--main-color);
    text-transform: uppercase;
    font-weight: 500;
    background: none;
    border: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.quickLinks {
  &__link {
    color: var(--title-color);
    &:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 768px) {
  .createMenu {
    margin-top: 50px;
  }
  .recipesAndMenu {
    &__search {
      width: 100%;
    }
  }
  .space {
    width: 100%;
  }
  .createMenu {
    &::before {
      position: absolute;
      content: '';
      width: 25%;
      top: -10%;
      left: 50%;
      transform: translateX(-50%);
      border-top: 1px solid rgb(198, 198, 198);
    }
  }
}

@media screen and (min-width: 768px) {
  .createMenu {
    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      bottom: 0;
      border-left: 0.5px solid rgb(198, 198, 198);
    }
  }
}
