.visualize {
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
  padding: 30px 0;
  &__title {
    color: var(--title-color) !important;
    font-size: 1.3em !important;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem !important;
  }
  &__input {
    text-align: center;
    border: none !important;
    box-shadow: none !important;
    font-size: 3.5em !important;
    font-weight: bold;
    margin-bottom: 20px !important;
  }
  &__form {
    width: 70%;
    margin: 0 auto !important;
  }
}

.servings_input {
  width: 100% !important;
}

.input {
  background-color: var(--input-background) !important;
  &::placeholder {
    color: var(--placeholder-color) !important;
  }
  > textarea,
  > input {
    background-color: var(--input-background) !important;
    &::placeholder {
      color: var(--placeholder-color) !important;
    }
  }
}

.label {
  color: var(--main-color);
  font-size: 1.2em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.button {
  border: none !important;
  background-color: var(--main-color) !important;
  border-radius: 5px !important;
  color: white !important;
  &:hover {
    opacity: 0.7;
  }
  &:disabled {
    opacity: 0.7;
  }
}

.submit_btn {
  border: none !important;
  background-color: var(--main-color) !important;
  border-radius: 5px !important;
  color: white !important;
  padding: 0 50px !important;
  &:hover {
    opacity: 0.7;
  }
  &:disabled {
    opacity: 0.7;
  }
}

.ingredients_tags {
  margin-bottom: 20px;
}

.upload {
  position: relative !important;
  padding: 20px !important;
  border: 1px dashed transparent !important;
  background-color: rgba(235, 235, 235, 0.5) !important;
  &:hover {
    border: 1px dashed var(--main-color) !important;
    .preview__body {
      display: block !important;
    }
    .image__blur {
      filter: blur(2px);
    }
    .icon_close {
      color: white !important;
    }
  }
  &__loading::after {
    pointer-events: none;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.55);
    z-index: 4;
    filter: blur(2px);
  }
  &__after:hover::after {
    pointer-events: none;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.55);
    z-index: 2;
  }
}

.instruction {
  display: block;
  margin: 10px 0;
  &:last-child {
    margin-bottom: 20px;
  }
  &__delete {
    cursor: pointer;
    margin-right: 5px;
    &:hover {
      color: rgb(211, 23, 23);
    }
  }
  &__step {
    font-size: 1.2em;
    font-weight: bold;
  }
}
