.header {
  background-color: var(--main-color);
  &__wrapper {
    width: 90%;
    margin: 0 auto;
    padding: 1.5rem 0;
  }
}

.title {
  text-align: center;
}

.input {
  padding: 10px !important;
  font-size: 1.1em;
  font-weight: 600;
}

.btnAddOrRemoveIngredients {
  display: flex;
  margin: 0 auto;
  background: none;
  border: 0;
  cursor: pointer;
  font-family: var(--main-font);
  font-size: 1.1em;
  text-transform: uppercase;
}

.filters {
  background-color: #555;
  display: flex;
  justify-content: space-around;
}

.tags {
  width: 85%;
  margin: 0 auto;
  &__item {
    margin-bottom: 1rem !important;
    color: white !important;
    font-size: 1.1em !important;
    font-family: var(--main-font);
    background-color: black !important;
    border: none !important;
    padding: 5px 10px !important;
  }
  &__item > span {
    color: white !important;
    font-size: 1em;
    margin-left: 5px !important;
  }
}

.input_icon {
  opacity: 0.6;
  font-size: 1.5em;
}

.btn_clearAll {
  background: none;
  border: none;
  margin: 0 10px;
  cursor: pointer;
}

@media screen and (max-width: 990px) {
  .input {
    margin: 10px 0;
  }
}
