.cusines_recipes {
  background-color: white !important;
  margin: 3rem 0;
  &__header {
    justify-content: space-between;
    align-items: center;
  }
  &__wrapper {
    margin-top: 30px;
    padding: 0 10px;
  }
  &__card {
    cursor: pointer;
    &:hover .body {
      background-color: rgba(204, 204, 204, 0.2);
      box-shadow: 0px 0px 10px 2px rgba(167, 167, 167, 0.2);
    }
  }
  &__image {
    width: 100%;
    height: 14rem;
    object-fit: cover;
    object-position: center center;
    outline: 2px solid rgba(230, 230, 230, 0.3);
    outline-offset: -10px;
  }
}

.body {
  height: 16.5rem;
  padding: 15px;
  background-color: white;
  border: 2px solid rgba(230, 230, 230, 0.5);
  border-top: 0;
  &__header {
    margin-bottom: 3rem;
    height: 8rem;
  }
  &__footer {
    text-align: center;
    .nutrient_name {
      font-family: var(--main-font) !important;
      font-size: 1.2em;
      color: var(--main-color) !important;
    }
    .nutrient_amount {
      color: black !important;
    }
  }
  .tag {
    font-family: var(--main-font);
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--main-color);
  }
  .title {
    font-family: var(--main-font);
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .time {
    font-size: 0.8em;
    color: grey;
  }
}

.header__title {
  color: var(--title-color) !important;
}

.select_wrapper {
  display: flex !important;
  justify-content: end !important;
}
