@import '../../index.scss';

.divider {
  @include divider;
  margin: 50px 0 !important;
  width: 100% !important;
}

.home_page {
  width: 80%;
  margin: 0 auto;
  padding: 3rem 0;
}

@media screen and (max-width: 768px) {
  .home_page {
    width: 100%;
    padding: 3rem 25px;
  }
}
