.search {
  background-color: rgb(27, 27, 27) !important;
  min-height: 100vh !important;
  &__container {
    margin: 3rem auto;
    width: 1170px;
  }
  &__matchResults {
    color: white;
    font-size: 1.3em;
    font-weight: 300;
  }
  &__sort {
    display: flex;
    justify-content: space-between;
  }
}

.dropdown {
  color: white;
  font-size: 1.2em;
  font-weight: 300;
  text-transform: uppercase;
}

.search__select {
  width: 120px;
}

.pagination {
  display: flex;
  justify-content: center;
}
