.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.card {
  height: 100%;
  &__title {
    font-size: 2em !important;
  }
  &__img {
    height: 100% !important;
    min-height: 400px !important;
    object-fit: contain !important;
  }
  &__avatar {
    width: 40px !important;
    height: 40px !important;
  }
  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
  }
  &__likes {
    display: flex;
    align-items: center;
  }
}

.title {
  color: var(--sub-title) !important;
  font-size: 2em !important;
  text-transform: uppercase;
}

.icon {
  cursor: pointer;
  font-size: 1.4em;
  &:hover {
    color: red;
  }
}

.iconLike {
  &:hover {
    color: var(--main-color);
  }
}

.likesCounter {
  margin-left: 7px;
}

.link__create {
  padding: 5px 10px;
  background-color: var(--main-color);
  color: white;
  border-radius: 5px;
  font-size: 1.1em;
  &:hover {
    color: white;
    opacity: 0.85;
  }
}

@media screen and (max-width: 992px) {
  .icon {
    font-size: 1.8em;
  }
}
