@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}

h1,
h2 {
  margin: 0 !important;
}

:root {
  --main-font: 'Mukta', sans-serif;
  --main-color: #e27d60;
  --second-color: black;
  --title-color: #41b3a3;
  --sub-title: black;
  --border-color: #e8a87c;
  --background: white;
  --input-background: white;
  --placeholder-color: rgba(172, 172, 172, 0.65);
}

[data-theme='dark'] {
  --background: #1b2430;
  --title-color: #d6d5a8;
  --sub-title: rgba(255, 255, 255, 0.75);
  --second-color: rgba(255, 255, 255, 0.75);
  --input-background: rgba(255, 255, 255, 0.75);
  --placeholder-color: #1b2430;
}

.app {
  background-color: var(--background) !important;
}

@mixin textNoWrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin info_content {
  &__tag {
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 1.5px;
    font-family: var(--main-font);
    font-weight: 400;
    color: grey;
  }
  &__title {
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 25px;
    @include textNoWrap;
  }
  &__author {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 1px;
    color: var(--main-color);
    font-family: var(--main-font);
  }
}

@mixin divider {
  margin: 10px auto 10px auto !important;
  min-width: 0 !important;
  width: 5rem !important;
  background-color: rgb(221, 221, 221);
}

.ant-upload-select-picture-card {
  width: 120px !important;
  height: 120px !important;
  border-radius: 50% !important;
}

.ant-progress-text {
  color: var(--main-color) !important;
}
