.notfound {
  background-color: var(--background) !important;
  min-height: 100vh !important;
  &__title {
    color: var(--title-color) !important;
    font-size: 1.3em;
  }
  &__text {
    font-size: 1.2em;
  }
  &__link {
    color: var(--main-color) !important;
  }
}
