@import '../../index.scss';

.random_recipe {
  &__content {
    display: flex;
    justify-content: center;
    cursor: pointer;
    &:hover .info__title {
      text-decoration: underline;
    }
  }
  &__photo {
    position: relative;
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: center center;
    outline: 2px solid white;
    outline-offset: -18px;
  }
  &__info {
    position: absolute;
    bottom: -110px;
    text-align: center;
    background-color: white;
    width: 80%;
    padding: 25px;
  }
  &__col {
    margin-bottom: 180px;
  }
}

.info {
  @include info_content;
}

.divider {
  @include divider;
}

@media screen and (min-width: 1600px) {
  .random_recipe {
    &__photo {
      height: 500px;
    }
  }
}
